<div class="app-card-container">
  <div class="card">
    <h1>About MEEEEEEE</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "pizzame.jpeg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          Hello again! I pride myself in an inquisitive nature that has allowed for a diverse background rooted in current technology ( I <3 Rails ), asylum architecture and planning, and the American Education system. Seems diverse, no? Well, one can view all these in terms of code ... 
        </p>

        <p>
          My first foray into technology was as a very young child, accidentally destroying a database on my father's computer. Years later, I learned that the language was cobal and there was a very good reason for my not being allowed near this machine for over a year. As an adult, I started to managed the data for system wide compliance in one of the NYC schools, later transitioning to an edtech firm. Happily, I now look at code from a comforting ... blueprint approach. Because, really, everything from the code of a website to the bat-shape of a kirkbride building to the cells of blade of grass - all have that in common. All have a basic blueprint. One does hope that it stays DRY.
        </p>

      </div>
    </div>
  </div>
</div> 
  
 
 