

	<div id="slide1">
	<div class="content">
		<h2>YES</h2>
	</div>
	</div>

	<div id="slide2">
	<div class="content">
		<div class="blurb-container">
		<h3 class="blurb">Back to Front to Back</h3>
	
		<h4 class="name-dark">Curiosity</h4>
	</div>
	</div>
	</div>

	<div id="slide3">
	<div class="content">
		<div class="blurb-container">
		<h3 class="blurb">Aquisition of knowledge</h3>
	
		<h4 class="name">escapism</h4>
	</div>
	</div>
	</div>

	<div id="slide4">
	<div class="content">
		<div class="blurb-container">
		<h3 class="blurb">Architecture of Creation</h3>
		<div class="grid">
			 <div class="grid-sizer"></div>
			  <div class="grid-item">
			    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
			  </div>
			  <div class="grid-item">
			    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
			  </div>
			  <div class="grid-item">
			    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
			  </div>
			  <div class="grid-item">
			    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
			  </div>
			  <div class="grid-item">
			    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
			  </div>
			  <div class="grid-item">
			    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
			  </div>
			</div>
			
	</div>
	</div>
	</div>

	<div id="slide5">
	<div class="content">
	<h5 class="blurb">Outside the Lines</h5>
	</div>
	</div>
