<h1>We Should Work Together!</h1>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "meblurry.jpg", width: 300, alt: "Profile Image" %>
	</div>
	<div class="col-md-8">
     <p>add clickable email "gerbermichelle23@gmail.com" </p>

      <a href="http://twitter.com/pinklantern" target="blank">
	    <%= fa_icon "twitter" %></a>
 	
       <a href="http://github.com/lightbulbproductions" target="blank">	
	    <%= fa_icon "github-alt" %>
    </div>
</div>