
<div class="home-cover">
	  <ul class="greeting hidden">
	            <li>H</li>
	            <li>E</li>
	            <li>L</li>
			    <li>L</li>
			    <li>O</li>
				<br/>
				<br/>
				</br>
				<li>T</li>
				<li>H</li>
				<li>E</li>
				<li>R</li>
				<li>E</li>
	  </ul>
</div>


		