// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "jquery-ui";
@import "gritter";


.home-cover {
  background-image: url(outsideview.jpeg);
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  display: block;
  height: 100%;
  width: 100%;
  left: -10px;
  position: fixed;
  top: -10px;
  right: 0;
  z-index: 1;
  transition: all 1000ms;
  background-size: 100%;
  background-position: center;
}

.inner-cover:hover .home-cover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  background-size: 100%;
  background-position: center;
}

.cover-heading a{
  font-family: Raleway;
  width: 500px;
  height: 550px;
  z-index: 3;
  top: 50%;
  margin-top: -175px;
  left: 30%;
  margin-left: -140px;
  position: absolute;
  color: black;
  text-align: center;
  transition: all 1000ms;
}

.inner-cover:hover .cover-heading {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.cover-heading .link {
  font-size: 4px;
  font-weight: 200;
  margin-top: 300px;
  padding: 50%;
  color: black;
}

.content {
	margin: 0 auto;
	width: 960px;
}

.blurb-container {
	margin: 0 auto;
	width: 800px;
}
.blurb {
	font-size: 30px;
	text-align: left;
	margin: 50px auto;
	
}

#slide1 {
	width: 100%;
	background: url('joelsdesk.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0;
	
}

#slide2  {
	width: 100%;
	background-color: #f0f0f0;
	color: #fff;
	height: 300px;
	margin: 0;
	overflow: hidden;
	padding: 200px 0;
	
}

#slide3 {
	width: 100%;
	background: url('towerview.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	color: #f0f0f0;
	height: 600px;
	margin: 0;
	padding-top: 200px 0 0 0;
	
}
#slide4 {
	width: 100%;
	background:url('IMG_5762.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	color: #fff;
	height: 900px;
	margin: 0;
	overflow: hidden;
	padding: 50px 0;
	
}
* { box-sizing: border-box; }

/* force scrollbar */
/*html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
  height: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer {
	height: 100%;
	width: 100%;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}




