// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "jquery-ui";
@import "navbar";
//@import "pages";


//NAV COLOR AND SPACING 
a,
a:focus,
a:hover {
  color: #b29600;
  padding-left: 10vh;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #8b7919;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #b29600;
  border: .05rem solid #b29600;
}
.btn-link {
	color: #b29600;
	text-shadow: none;
	margin-top: 400px;
}




html,
body {
    height: 100%;
    line-height: 18px;
//   -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;
  // -ms-overflow-style: scrollbar;
  // -webkit-tap-highlight-color: transparent;
}

body {
 // align-items:center;
  font-family: veteran typewriter, verdana, arial, helvetica, sans-serif;
  line-height: 18px; 
  background-image: url(amagansettnight.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  //background-filter: blur(1px);
  //-webkit-filter: blur(1px);
  display: block;
  height: 130%;
  width: 100%;
  //left: -10px;
  position: fixed;
  top: -10px;
  right: 0;
  z-index: 999;
  transition: all 1000ms;
  background-size: 100%;
  //background-position: center;
}
  
.album {
  //min-height: 20rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
 
  //background-color: transparent;
  padding-left:3rem;
  padding-right: 3rem;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom:-100px;
  //margin-bottom: 60px;
  background: linear-gradient(82deg, #8f2790, #27903e);
  background-size: 250% 250%;
  animation: BackgroundGradient 60s ease infinite;
}

  @keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


p, ol, ul, td {
  font-family: veteran typewriter, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 19px;
  margin: 33px;
}

img {
	    width: auto;
	    height: auto;
}




.portfolio-container {
	padding-top: .5rem;
    margin: 0 auto;
	max-width: 100%;

	 
}
.portfolio-box{
  
  border : 2px solid transparent;  
 // display: inline-block;
    
  -webkit-transition : border 500ms ease-out; 
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
}

.portfolio-box:hover{
  border : 2px solid #d3d3d3;
}

.app-card-container > .card {
  padding: 40px;
}
.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: #1F0965;
}

.card > img {
	 background-size: contain;
  margin-bottom: .75rem;
}

.card-text {
	text-color:#fff;
 font-weight: 500;
}

.social.links {
	
	text-align:center;
}
.mastfoot {
 padding: 20px 5%;
   right: 0;
   bottom: 0;
   left: 0;
   font-weight: 300;
   color: rgba(127,107,0,.5);
}

.app-footer {
	color: #b29600;
}